@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: Nunito;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 10px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.title {
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

input[type='text'] {
  background-color: #ebebeb;
  border: none;
  padding: 4px 10px;
  border-radius: 16px;
  width: 300px;
}

button.submit,
button.toggle {
  margin-left: 5px;
  border-radius: 16px;
  padding: 4px 12px;
  cursor: pointer;
}

button.submit {
  border: 1px solid grey;
}

button.toggle {
  background-color: rgb(15, 99, 255);
  color: #eee;
  border: none;
  font-weight: 700;
}

.container {
  width: 820px;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 234, 241);
  margin-top: 20px;
  border-radius: 12px 12px 0 0;
}

.weather-container {
  /* background-color: rgb(42, 146, 194); */
  color: #eee;
  border-radius: 0 0 12px 12px;
}

.resolved-location,
.date-time,
.description {
  font-size: 20px;
}

.resolved-location {
  font-weight: 800;
}

.weather-card {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 18px;
}

.weather-card img {
  display: none;
  height: 150px;
  width: auto;
}

.current-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
}

.actual-temp {
  font-size: 100px;
}

.feelslike {
  margin-top: -20px;
}

.max-min {
  display: flex;
  margin-bottom: 20px;
}

.conditions {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  border-left: solid 1px #eee;
  margin-left: 10px;
}

.forecast {
  display: none;
  width: 620px;
  font-size: 18px;
}

.forecast-title {
  margin-bottom: 5px;
  border-bottom: solid 1px #eee;
}

.forecast-row {
  display: grid;
  grid-template-columns: 110px max-content max-content 1fr;
  gap: 40px;
}

.forecast-row img {
  justify-self: center;
}

.forecast-temp {
  justify-self: end;
}
