@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: Nunito;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.resolved-location {
  margin-top: 20px;
}

.weather-container {
  background-color: rgb(42, 146, 194);
  color: #eee;
  width: 900px;
}

.resolved-location,
.date-time,
.description {
  font-size: 20px;
}

.weather-card {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 18px;
}

.weather-card img {
  display: none;
  height: 150px;
  width: auto;
}

.current-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actual-temp {
  font-size: 100px;
}

.feelslike {
  margin-top: -20px;
}

.max-min {
  display: flex;
  margin-bottom: 20px;
}

.conditions {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  border-left: solid 1px #eee;
  margin-left: 10px;
}

.forecast {
  display: none;
  width: 550px;
  font-size: 18px;
}

.forecast-title {
  margin-bottom: 5px;
  border-bottom: solid 1px #eee;
}

.forecast-row {
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content;
  gap: 50px;
}